# raster files
*.asc
*.tiff

/Data/*
/GCAM_SRP/*.*
/GCAM_SRP/**/*.*
abm/postprocessing/__pycache__/*

# OS-specific files
.DS_Store

# python pyc files
*.pyc

# exclude .idea dir
.idea

# ignore .mat files
*.mat

# log files
*.log

# ignore build
build
dist
abm.egg-info
