include README.md
include requirements.txt
include LICENSE
include janus/data/config.yml
include janus/data/*.csv
include janus/data/shp/*.*
include janus/data/*.tiff
include janus/data/comp_outputs/*.npy
include janus/data/outputs/*.md
