pyyaml>=3.12
nass>=0.1.1
joblib>=0.11
rasterio>=1.0.8
rasterstats>=0.13.0
geopandas>=0.7.0
pyproj>=2.5.0
fiona>=1.7.13
shapely>=1.7.0
pycrs>=1.0.1
pandas>=1.0.1
matplotlib>=2.2.2,<4.0
scipy>=1.0.1
numpy>=1.14.2
im3agents==0.2.0|https://github.com/IMMM-SFA/im3agents/archive/v0.1.0.zip#egg=im3agents-0.2.0
